<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>成功提醒</title>
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>
<body>
  <div class="container" style="padding-top:100px">
    <div class="alert alert-success" role="alert">
      <h1>:) </h1>
      <h3><%= msg %></h3>
      <p><span id="t"><%= time/1000 %></span>秒后跳转<a href="<%= url %>">点击跳转</a></p>
    </div>
  </div>
</body>
<script>
  var time = <%= time/1000 %>;
    //可加可不加 但是推荐加上
    var t = document.getElementById('t');

    var inte = setInterval(function(){
      t.innerHTML = time--;
      if(time <= 0){
        //清空定时器
        clearInterval(inte);
        //跳转
        location.href = '<%= url %>'
      }
    }, 1000);
</script>
</html>